
{% extends "./base.html" %}

{% load static %}


{% block content %}


    <!-- Introduction section -->
  
    <section class="py-4 text-center container">

        <div class="row py-lg-5">
        
            <div class="col-lg-6 col-md-8 mx-auto">
                

                <h3> DJANGO VINYL SHOP </h3>
                <br>
                <h4> Używane płyty winylowe </h4>


                <br>
                

                <p class="lead text-muted">

                Zobacz naszą kolekcję

                </p>


                <br>
        
                <a href="#" class="btn btn-primary my-2"> Załóż Konto </a>
                
                
            </div>
        
        </div>

    
    </section>



{% endblock %}






