{% include "store/base.html" %}

{% load static %}

{%load crispy_forms_tags %}

{% block content %}

<style>

    body{

        background-color: gray;



    }




</style>

<body>
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Welcome, {{user}}!</h3>

        <hr>

       <p>Tis your dashboard where you can:</p> 
       
       <li>Track your orders</li>
       <li>Manage your account</li>
       <li>Manage shipping address</li>
       
        



        <br>
       

        

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Track your orders</h3>

        <hr>
        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'user-logout' %}"> My orders</a>

        
    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Manage your account</h3>
        <hr>
        

        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'user-logout' %}"> Profile management</a>
        <br>
        <br>


        <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'user-logout' %}"> Logout</a>

        
    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Manage shipping address</h3>

        <hr>

        <p>Enter in a shipping address</p>
        
        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'user-logout' %}"> Manage shipping address</a>

        
    </div>

    <br>



{% endblock %}