{% include "store/base.html" %}

{% load static %}

{%load crispy_forms_tags %}

{% block content %}

<style>

    body{

        background-color: gray;



    }




</style>

<body>
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Manage shipping</h3>

        <p>Please fill in the shipping details</p>

        <br>

        <form method="POST"  autocomplete="off">

            {% csrf_token %}

            {{form.full_name | as_crispy_field}}

            <br>

            {{form.email | as_crispy_field}}

            <br>

            {{form.street | as_crispy_field}}

            <br>

            {{form.street_number | as_crispy_field}}

            <br>

            {{form.city | as_crispy_field}}

            <br>

            {{form.zipcode | as_crispy_field}}

            <br>



            <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-2"> &nbsp; Save</button>



        </form>

    </div>
</body>

<br>
<br>

{% endblock %}