
{% include "store/base.html" %}


{% load static %}


{% block content %}

<style>
    
    body 
    {
        
        background-color: gray;
    
    }


</style>


    <body>

        <br>

        <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">

            <form id="form">

                <div>

                    <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Podsumowanie zamówienia </h3>

                    <p> Proszę uzupełnić poniższe dane do wysyłki. </p>
 


                    <hr>

                    <br>

                    <div class="form-field">
                    
                        <input class="form-control validate" id="name" type="text" placeholder="Imię i nazwisko*" autocomplete="off" value="{{shipping.full_name}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="email" type="email" placeholder="Adres email*" autocomplete="off" value="{{shipping.email}}" required>

                    </div>

                    
                    <br>

                    
                    <div class="form-field">

                        <input class="form-control validate" id="street" type="text" placeholder="Ulica*" autocomplete="off" value="{{shipping.street}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="street_number" type="text" placeholder="Numer domu/mieszkania*" autocomplete="off" value="{{shipping.street_number}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="city" type="text" placeholder="Miejscowość*" autocomplete="off" value="{{shipping.city}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="zipcode" type="text" placeholder="Kod pocztowy" autocomplete="off" value="{{shipping.zipcode}}" required>

                    </div>
            
                </div>

                <br>



               <button id="complete-order" type="submit" class="btn btn-primary navbar-btn text-white"> &nbsp; Akceptuję </button>
               

                <!-- PayPal button -->>




            </form>


        </div>

        

        <br>


    </body>


    <!-- Ajax integration -->

    




        // 5 linii dol

    <script>


        // Complete checkout

    $(document).on('submit', function(e){

        e.preventDefault();

        $.ajax({

            type: 'POST',
            url: '{% url "complete-order" %}',
            data: {

                name: $('#name').val(),
                email: $('#email').val(),
                street: $('#street').val(),
                street_number: $('#street_number').val(),
                city: $('#city').val(),
                zipcode: $('#zipcode').val(),



                

                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            
            },

            success: function(json){

                //console.log(json)


            },

            error: function(xhr, errmsg, err){


            }

        });


    })

    


</script>



{% endblock %}